{% extends "front/base.html" %}

{% block content %}
<h1>{{brand_name}}</h1>
<a href="/" class="btn btn-outline-primary">Вернуться назад</a>
<div class="container">
    <div class="row">
        <div class="col">
            {% for item in models %}
            <p>{{item.letter}}</p>
            {% for name in item.models %}

            <a href=/{{brand_link}}/{{name.url}}>{{name.name}}</a>
            {% endfor %}

            <!-- <p>{{model}}</p> -->
            {% empty %}
            <p>По этой марке пока нет данных, она слишком редкая 😔</p>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock content %}