{% extends "front/base.html" %}

{% block content %}
{% if error %}
<div class="container-xl">
    <h5>По этой марке слишком мало данных. 🤬</h5>
    <a href="/" class="btn btn-outline-primary">Вернуться назад</a>

</div>

{% else %}

</div>
<div class="container-xl">
    <h5 style=" padding-left: 2.2rem; border-bottom: 2px; border-bottom-style: solid; border-bottom-color: #c5ede0;
    padding-bottom: 0.6rem;">
        {{brand_name}}</h5>
    <div class="container-xl">
        <div class="row">
            {% for item in models %}
            <div class="col">
                <div class="{% cycle 'col' 'col' 'col' 'col' 'col' 'row' %}">
                </div>
                <div class="card border-white" style="width: 12rem; margin-bottom: 2rem;">
                    <div class="card-body">
                        <h5 class="card-title"
                            style="border-bottom: 2px; border-bottom-style: solid; border-bottom-color: #c5ede0; padding-bottom: 0.6rem;">
                            {{item.letter}}
                        </h5>
                        {% for name in item.models %}
                        <div>
                            <a href=/{{brand_link}}/{{name.url}} class="card-link">{{name.name}}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="/" class="btn btn-outline-primary">Вернуться назад</a>
    </div>
    {% endif %}
    {% endblock content %}