{% extends 'front/base.html' %}

{% block content %}
{% load static %}
<div class="container">

    <h5>График падения цены {{brand_name}} {{model_name}}</h5>


    <canvas id="myChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script>
        var labels = JSON.parse("{{js_lables|escapejs}}")
        var data_price = JSON.parse("{{js_price|escapejs}}")
        var name = "{{brand_name}}" + ' ' + "{{model_name}}"
        var ctx = document.getElementById("myChart").getContext("2d");
        var dataFirst = {
            label: name,
            backgroundColor: "rgb(255, 99, 132)",
            borderColor: "rgb(255, 9, 13)",
            data: data_price,
            order: 2,
        }
        var datasetList = [dataFirst]
        console.log("{{ comparasing }}")

        if ("{{ses_var}}" != 'None') {
            console.log("{{ comparasing }}")
            var labels2 = JSON.parse("{{js_lables2|escapejs}}")
            var data_price2 = JSON.parse("{{js_price2|escapejs}}")
            var name2 = "{{brand_name2}}" + ' ' + "{{model_name2}}"

            var dataSecond = {
                label: name2,
                backgroundColor: "rgb(55, 99, 132)",
                borderColor: "rgb(55, 9, 13)",
                data: data_price2,
                order: 0,

            }
            datasetList = datasetList.concat(dataSecond)

            console.log('dataset_list_Second:', datasetList)
        }

        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: "line",
            // The data for our dataset
            data: {
                labels: labels,

                datasets: datasetList
            },

            // Configuration options go here
            options: {},
        });

    </script>
    <a href="/{{brand_name}}" class="btn btn-outline-primary">Вернуться назад</a>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="comparasing" value="{{brand_name}} {{model_name}}"></input>
        <input type="submit" class="btn btn-outline-primary" value="Добавить к сравнению"></input>
        {% if can_delete %}
        <input type="hidden" name="comparasing" value="{{brand_name}} {{model_name}}"></input>
        <input type="submit" class="btn btn-outline-danger" value="Удалить из сраниня"></input>
        {% endif %}

    </form>
    <p>Пидропупель! {{ses_var}}</p>
</div>


{% endblock content %}