{% extends 'front/base.html' %}

{% block content %}
{% load static %}
<div class="container">

    <h5>График падения цены {{brand_name}} {{model_name}} {{year}} года</h5>
    <canvas id="myChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src='{% static "front/test.js" %}'></script>

    <script>        
        var testVar = JSON.parse("{{temp_var_for_test|escapejs}}")
        console.log("testVarUUU")
        console.log(testVar)
        var name = "{{brand_name}}" + ' ' + "{{model_name}}" + ' ' + "{{year}}" + ' ' +'года'
        var ctx = document.getElementById("myChart").getContext("2d");
      
        var chart = new Chart(ctx, {
            type: "line",
            data: testVar,
            options: {},
        });
        console.log(chart)
    </script>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="/{{brand_name}}" class="btn btn-outline-primary">Вернуться назад</a>
            </div>
            {% comment %} 
                <div class="col-sm">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="compar" value=True></input>
                        <input type="hidden" name="session_var" value="{{brand_name}} {{model_name}} {{year}}"></input>
                        <input type="submit" class="btn btn-outline-primary" value="Жмяк"></input>
                    </form>
                </div> 
            {% endcomment %}
        </div>
    </div>
</div>


{% endblock content %}