{% extends "front/base.html" %}
{% block content %}
{% comment %} <p class="text-center">Узнайте как будет дешеветь машина на российском вторичном рынке. Воспользуйтесь поиском или
  выберите
  марку
  из списка ниже.</p> {% endcomment %}
  <p class="text-center">Узнайте как будет дешеветь машина на российском вторичном рынке. Выберите
  марку
  из списка ниже.</p> 
<div class="container-xl">
  <div class="row">
    {% for letter in brands %}
    <div class="col">
      <div class="{% cycle 'col' 'col' 'col' 'col' 'col' 'row' %}">
      </div>

      <div class="card border-white" style="width: 12rem; margin-bottom: 2rem;">
        <div class="card-body">
          <h5 class="card-title"
            style="border-bottom: 2px; border-bottom-style: solid; border-bottom-color: #c5ede0; padding-bottom: 0.6rem;">
            {{letter.letter}}
          </h5>
          {% for brand in letter.brands%}
          <div>
            <a href=/{{brand.link}} class="card-link">{{brand.name}}</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
  {% endblock content %}